.login-form{
    width: fit-content;
    padding: 4rem;
    margin: 2rem auto;
    display: flex;
    flex-direction : column;
    align-items: center;
    row-gap: 1rem;
    box-shadow: rgba(114, 105, 105, 0.25) 0px 30px 60px -12px inset, rgba(141, 128, 128, 0.3) 0px 18px 36px -18px inset ;
}
.login-form input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.login-form button{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: rgb(136, 136, 235);
}