.left-nav{
    display: flex;
    margin-left: 1rem;
  }
    .nav-ul{
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
    .nav-heads{
      width: 50%;
      position: absolute;
      right: 0;
    }
    .nav-items{
      font-size: 1.2rem;
    }
    .nav-items:hover{
      color: rgb(220, 149, 149);
    }
    .navbar{
      height: 10vh;
    background-color: black;
    color: white;
      display: flex;
      align-items: center;
    }
    .gym-logo{
      width: 10%;
    }
  